@media screen and (orientation: portrait), (max-width: 780px) {
  .creator-container {
    padding: 1vw 1vw;
  }
  .creator-section1 {
    gap: 2vw;
  }
  .creator-section-name h1 {
    font-size: 8vw;
  }
  .creator-card,
  .bulue-card {
    flex-direction: column;
    gap: 2vw;
    padding: 1vw 2vw;
    border-radius: 4vw;
  }
  .creator-card h1 {
    font-size: 5vw;
  }
  .creator-card img {
    width: 90vw;
  }
  .creator-family-image {
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    margin: 3vw 0;
  }
  .creator-family-image img {
    width: 90vw;
  }
  .bulue-image {
    width: 90vw;
  }
  .bulue-card {
    font-size: 4vw;
    gap: 1vw;
  }
  .bulue-section1 {
    display: flex;
    flex-direction: column;
    gap: 5vw;
  }
  .card-bulue-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (orientation: landscape) {
  .creator-container {
    padding: 1vw 15vw;
  }
  .creator-section1 p,
  .creator-section2 p {
    font-size: 1.5vw;
  }
  .creator-card img {
    width: 22vw;
  }
  .creator-family-image img {
    width: 20vw;
  }
  .creator-section1 {
    gap: 1vw;
  }
  .creator-section-name h1 {
    font-size: 2.5vw;
  }
  .creator-section1 .creator-card p {
    margin-top: 5vw;
  }
  .creator-card,
  .bulue-card {
    padding: 0.5vw 1vw;
    border-radius: 1vw;
  }
  .creator-card h1 {
    font-size: 1.8vw;
    margin: 0;
  }
  .creator-family-image {
    gap: 1vw;
  }
  .bulue-image {
    width: 15vw;
  }
  .bulue-card {
    flex-direction: column;
    font-size: 1.2vw;
    gap: 2vw;
  }
  .card-bulue-content {
    display: flex;
    gap: 2vw;
  }
  .bulue-section1 {
    display: flex;
    flex-direction: column;
    gap: 5vw;
  }
  .creator-section2 .creator-card{
    display: flex;
    flex-direction: column;
  }
}
.creator-family-image {
  display: flex;
  justify-content: center;
}

.creator-card,
.bulue-card {
  display: flex;
  background-color: var(--background-creator);
}

.creator-section1 {
  display: flex;
  flex-direction: column;
}

.creator-section1 .creator-card {
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
