<div class="creator-container">
  <!-- Sobre a Bulue -->
  <div>
    <div class="creator-section-name">
      <h1>Sobre a Bulue</h1>
    </div>

    <section class="bulue-section1">
      <div class="bulue-card">
        <!-- Nascimento -->
        <div class="card-bulue-content">
          <div>
            <h1>O Nascimento da Bengin</h1>
            <p>
              Tudo começou com Kim Jong Yoong, um visionário nascido nas terras
              da República da Coreia. Sua infância foi marcada pela simplicidade
              e pela busca incessante por conhecimento. Um dia, enquanto
              perseguia borboletas em um campo, Kim teve um insight que mudaria
              sua vida para sempre. Ele desenvolveu um software revolucionário
              chamado Bengin, alimentado por inteligência artificial. Com essa
              ferramenta, ele podia criar jogos, filmes, livros e muito mais. A
              chama da criatividade ardia em seu coração, e ele sabia que estava
              destinado a algo grandioso.
            </p>
          </div>
          <img
            class="bulue-image"
            src="../../../assets/image/nascimentoBulue.png"
            alt="Nascimento Bulue"
          />
        </div>

        <!-- Fundação-->
        <div class="card-bulue-content">
          <div>
            <h1>A Fundação da Bulue Pein</h1>
            <p>
              Movido por sua paixão, Kim fundou a Bulue Pein. O nome, uma
              combinação de “Bulue” (inspirado nas borboletas que o levaram à
              descoberta) e “Pein” (uma homenagem à perseverança de sua
              família), representava sua visão de uma empresa que transcenderia
              limites. A Bulue Pein nasceu com o propósito de criar experiências
              únicas e inovadoras para os amantes de entretenimento.
            </p>
          </div>
          <img
            class="bulue-image"
            src="../../../assets/image/fundacaoBulue.png"
            alt="Nascimento Bulue"
          />
        </div>
      </div>

      <div class="bulue-card">
        <!-- Franquia -->
        <div class="card-bulue-content">
          <img
            class="bulue-image"
            src="../../../assets/image/franquia.png"
            alt="Nascimento Bulue"
          />
          <div>
            <h1>A Franquia Laa Ellee e a Revolução Silenciosa</h1>
            <p>
              A franquia Laa Ellee, outrora digital e onipresente, passou por
              uma metamorfose. Suas cópias digitais desapareceram, tornando-se
              raridades cobiçadas. A Bulue decidiu explorar novos horizontes e
              criou um jogo que continuava a história de outro ponto: Silent
              Tokyo. Nesse mundo misterioso, os jogadores desvendam segredos,
              enfrentam desafios e mergulham em uma narrativa envolvente
            </p>
          </div>
        </div>

        <!-- O Futuro -->
        <div class="card-bulue-content">
          <img
            class="bulue-image"
            src="../../../assets/image/futuro.png"
            alt="Nascimento Bulue"
          />
          <div>
            <h1>O Futuro da Bulue</h1>
            <p>
              Agora, em sua segunda reformulação, a Bulue está mais forte do que
              nunca. Seus jogos são tesouros culturais, e sua visão permanece
              inabalável. A empresa abraça o silêncio de Tokyo e o transforma em
              histórias vibrantes. A cada passo, a Bulue reafirma seu
              compromisso com a inovação, a criatividade e a paixão.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Sobre o Criador -->
  <div>
    <div class="creator-section-name">
      <h1>Sobre o Criador</h1>
    </div>

    <section class="creator-section1">
      <div class="creator-card">
        <div>
          <h1>Kim Jong Yoong</h1>
          <img
            class="creator-image"
            src="../../../assets/image/creator.png"
            alt="creator"
          />
        </div>

          <p>
            Kim Jong Yoong, um programador e desenvolvedor de jogos renomado,
            nasceu na República da Coreia. Desde jovem, sonhava em se tornar um
            programador, enquanto desfrutava da natureza de sua aldeia caçando
            borboletas. Criado em uma família de poucos recursos, Kim enfrentou
            desafios financeiros antes de encontrar sucesso. Sua criação da
            ferramenta "Bengin" foi um marco em sua carreira, permitindo-lhe
            criar jogos e sites com eficiência. Kim Jong Yoong é um exemplo
            inspirador de como a determinação e a inovação podem levar alguém ao
            sucesso na indústria de desenvolvimento de jogos e tecnologia. Sua
            história destaca o poder do amor familiar e da perseverança na
            realização de sonhos. “Com humor e fome no coração, Kim Jong Yoong”
          </p>
      </div>
    </section>
  </div>

  <!-- Vida Secundaria -->
  <br>
  <div>
    <section class="creator-section2">
      <div class="creator-card">
        <h1>Sua Vida Secundaria como artista</h1>
        <p>
          Por trás dos códigos e pixels, esconde-se um mundo de cores e paixão,
          desenvolvedor de jogos por profissão, mas também um artista apaixonado
          pela pintura a óleo.
        </p>
        <div class="creator-family-image">
          <img src="../../../assets/image/creator-family1.png" alt="" />
          <img src="../../../assets/image/creator-family2.png" alt="" />
          <img src="../../../assets/image/creator-family3.png" alt="" />
        </div>
        <p>
          conhecido por desenvolver jogos, mas também sou um pintor apaixonado.
          Nas pinceladas de óleo, encontro tranquilidade e expressão. Minha
          esposa e filha são minha inspiração constante. Em cada tela, vejo
          refletido o amor que compartilhamos. Assim, além de ser um mestre dos
          jogos, sou um artista secreto, encontrando beleza em cores e
          simplicidade
        </p>
      </div>
    </section>
  </div>
</div>
