<div class="creator-container">
  <div class="creator-section-name">
    <h1>Sobre o Criador</h1>
  </div>
  <section class="creator-section1">
    <div class="creator-contant">
      <img
        class="creator-image"
        src="../../../assets/image/creator.png"
        alt="creator"
      />
      <div class="creator-card">
        <h1>Kim Jong Yoong</h1>
        <p>
          Kim Jong Yoong, nascido em uma aldeia coreana sem internet,
          transformou-se de caçador de borboletas a desenvolvedor de jogos. Sua
          jornada foi marcada por desafios, erros de código e uma dieta de café
          frio. De um modesto começo, ele construiu um império no mundo dos
          games, conquistando corações e inspirando sonhadores. Que sua história
          nos lembre de perseguir nossos próprios sonhos, mesmo que pareçam
          absurdos
        </p>
        <p>Com humor e fome no coração, Kim Jong Yoong</p>
      </div>
    </div>
    <div class="creator-card creator-description">
      <p>
        Kim Jong Yoong, um programador e desenvolvedor de jogos renomado, nasceu
        na República da Coreia. Desde jovem, sonhava em se tornar um
        programador, enquanto desfrutava da natureza de sua aldeia caçando
        borboletas. Criado em uma família de poucos recursos, Kim enfrentou
        desafios financeiros antes de encontrar sucesso. Sua criação da
        ferramenta "Bengin" foi um marco em sua carreira, permitindo-lhe criar
        jogos e sites com eficiência. Kim Jong Yoong é um exemplo inspirador de
        como a determinação e a inovação podem levar alguém ao sucesso na
        indústria de desenvolvimento de jogos e tecnologia. Sua história destaca
        o poder do amor familiar e da perseverança na realização de sonhos.
      </p>
    </div>
  </section>
  <div class="creator-section-name">
    <h1>Sua Vida Secundaria como artista</h1>
  </div>
  <section class="creator-section2">
    <div class="creator-card">
        <p>Por trás dos códigos e pixels, esconde-se um mundo de cores e paixão, desenvolvedor de jogos por profissão, mas também um artista apaixonado pela pintura a óleo.</p>
    </div>
    <div class="creator-family-image">
        <img src="../../../assets/image/creator-family1.png" alt="">
        <img src="../../../assets/image/creator-family2.png" alt="">
        <img src="../../../assets/image/creator-family3.png" alt="">
    </div>
    <div class="creator-card">
        <p>conhecido por desenvolver jogos, mas também sou um pintor apaixonado. Nas pinceladas de óleo, encontro tranquilidade e expressão. Minha esposa e filha são minha inspiração constante. Em cada tela, vejo refletido o amor que compartilhamos. Assim, além de ser um mestre dos jogos, sou um artista secreto, encontrando beleza em cores e simplicidade</p>
    </div>
  </section>
</div>
