<header class="header-container">
  <div class="header-contant">
    <div class="website-logo">
      <img routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
        src="../../../assets/image/logos/logo-header.png" alt="" />
    </div>

    <div id="button-info" class="info">
      <a routerLink="/news" routerLinkActive="active" ariaCurrentWhenActive="page">Novidades</a>
      <a routerLink="/support" routerLinkActive="active" ariaCurrentWhenActive="page">Suporte</a>
      <a routerLink="/bengin" routerLinkActive="active" ariaCurrentWhenActive="page">Bengin</a>
    </div>

    <div class="options">
      <a (click)="menuInfoButton()">
        <img id="image-profile" class="img-profile" src="../../../assets/image/avatar-default.png" />
      </a>
      <button id="button-install" class="button" type="button">
        <span class="button-text">Download</span>
      </button>

      <!-- MENU BUTTON -->

      <button class="menuButton" id="menuButton" (click)="menuButton()" >
        <img src="../../../assets/svg/menuicon.svg" alt="" />
      </button>
    </div>
  </div>
  <!-- Menu Phone-->

  <nav class="nav-menu hidden" id="menu">
    <ul>
      <li>
        <a routerLink="/news" routerLinkActive="active" ariaCurrentWhenActive="page"
          (click)="menuButton()">Novidades</a>
      </li>
      <li>
        <a routerLink="/support" routerLinkActive="active" ariaCurrentWhenActive="page"
          (click)="menuButton()">Suporte</a>
      </li>
      <li>
        <a routerLink="/bengin" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="menuButton()">Bengin</a>
      </li>
    </ul>
  </nav>

  <!-- Menu info -->
  <nav class="menu-info hidden" id="menu-info">
    <button routerLink="/construction" routerLinkActive="active" ariaCurrentWhenActive="page"(click)="menuInfoButton()">Perfil</button>
    <button routerLink="/construction" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="menuInfoButton()">Modo</button>
    <button routerLink="/construction" routerLinkActive="active" ariaCurrentWhenActive="page"(click)="menuInfoButton()">Jogos</button>
    <button routerLink="/construction" routerLinkActive="active" ariaCurrentWhenActive="page"(click)="menuInfoButton()">Configuração</button>
    <button routerLink="/creator" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="menuInfoButton()">Sobre o Criador</button>
  </nav>

</header>