@media screen and (orientation: portrait), (max-width: 780px) {
  .news-title {
    font-size: 6vw;
  }
}

@media screen and (orientation: landscape) and (min-width: 780px) {
  .news-title {
    font-size: 1.5vw;
  }
}

.news-card-container {
  width: 100%;
}
