<div class="options-support-container">
  <div class="options-support-contant">
    <button>JOGOS</button>
    <button>CONTA</button>
    <button>WEBSITE</button>
  </div>
  <div class="options-support-contant">
    <button>NEGÓCIOS</button>
    <button>DENÚNCIAS</button>
    <button>EQUIPE</button>
  </div>
</div>

<div class="support-tickets">
  <div class="support-options-tickets">
    <div class="support-text-tickets">
      <label for=""
        >Aqui, você encontrará todas as opções necessárias para obter ajuda e
        suporte imediatos. Estamos aqui para atendê-lo e garantir uma
        experiência satisfatória. Seja por chat ao vivo, ticket de suporte ou
        email, estamos prontos para ajudar.</label
      >
    </div>
    <div class="support-buttons-tickets">
      <button>CHAT AO VIVO</button>
      <button>TICKET DE SUPORTE</button>
      <button>SUPORTE POR EMAIL</button>
    </div>
  </div>
  <div class="support-image">
    <img src="../../../../assets/image/support-team.png" alt="" />
    <label for="">Support Team</label>
  </div>
</div>
