<div class="options-support-container">
  <div class="options-support-contant">
    <button routerLink="/construction" routerLinkActive="active" ariaCurrentWhenActive="page">JOGOS</button>
    <button routerLink="/construction" routerLinkActive="active" ariaCurrentWhenActive="page">CONTA</button>
    <button routerLink="/construction" routerLinkActive="active" ariaCurrentWhenActive="page">WEBSITE</button>
  </div>
  <div class="options-support-contant">
    <button routerLink="/construction" routerLinkActive="active" ariaCurrentWhenActive="page">NEGÓCIOS</button>
    <button routerLink="/construction" routerLinkActive="active" ariaCurrentWhenActive="page">DENÚNCIAS</button>
    <button routerLink="/construction" routerLinkActive="active" ariaCurrentWhenActive="page">EQUIPE</button>
  </div>
</div>

<div class="support-tickets">
  <div class="support-options-tickets">
    <div class="support-text-tickets">
      <label for=""
        >Aqui, você encontrará todas as opções necessárias para obter ajuda e
        suporte imediatos. Estamos aqui para atendê-lo e garantir uma
        experiência satisfatória. Seja por chat ao vivo, ticket de suporte ou
        email, estamos prontos para ajudar.</label
      >
    </div>
    <div class="support-buttons-tickets">
      <button routerLink="/construction" routerLinkActive="active" ariaCurrentWhenActive="page">CHAT AO VIVO</button>
      <button routerLink="/construction" routerLinkActive="active" ariaCurrentWhenActive="page">TICKET DE SUPORTE</button>
      <button routerLink="/construction" routerLinkActive="active" ariaCurrentWhenActive="page">SUPORTE POR EMAIL</button>
    </div>
  </div>
  <div class="support-image">
    <img src="../../../../assets/image/support-team.png" alt="" />
    <label for="">Support Team</label>
  </div>
</div>
