<div class="construction-container">
    <div class="construction-contant">

        <div class="image-error-construction">
            <img src="../../../assets/image/construction.png" alt="">
        </div>
        <div class="text-construction">
            <h1>Opa! parece que você encontrou uma página em desenvolvimento</h1>
            <h2>Vamos voltar para uma página já desenvolvida?</h2>
            <div class="buttons-container-construction">

                <div class="buttons-construction">
                    <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                    <a routerLink="/news" routerLinkActive="active" ariaCurrentWhenActive="page">Novidades</a>
                </div>
                <div class="buttons-construction">
                    <a routerLink="/support" routerLinkActive="active" ariaCurrentWhenActive="page">Suporte</a>
                    <a routerLink="/bengin" routerLinkActive="active" ariaCurrentWhenActive="page">Bengin</a>
                </div>
                
            </div>
        </div>

    </div>
</div>