<div class="outros-content">
  <ul class="buttons-outros">
    <li
      routerLink="/construction"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      Perfil
    </li>
    <li
      routerLink="/construction"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      Modo
    </li>
    <li
      routerLink="/construction"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      Jogos
    </li>
    <li
      routerLink="/construction"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      Configuração
    </li>
    <li
      routerLink="/creator"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      Sobre
    </li>
  </ul>
</div>

<div class="container-404">
  <div class="text-404">
    <h1>404</h1>
    <p>Página não encontrada</p>
  </div>
  <div class="contant-404">
    <p>Não foi possível encontrar a página que você estava procurando.</p>
    <p>Verifique o URL ou tente voltar para nossa página inicial.</p>
    <button
      type="button"
      routerLink="/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      Pagina Inicial
    </button>
  </div>
</div>
